# Fire up GraphLab Create

In [1]:
import graphlab

# Load a tabular data set

In [2]:
sf = graphlab.SFrame('people-example.csv')

[INFO] This non-commercial license of GraphLab Create is assigned to vthukral@gmail.comand will expire on September 26, 2016. For commercial licensing options, visit https://dato.com/buy/.

[INFO] Start server at: ipc:///tmp/graphlab_server-31776 - Server binary: C:\Python27\lib\site-packages\graphlab\unity_server.exe - Server log: C:\Users\vaibhavt\AppData\Local\Temp\graphlab_server_1443408358.log.0
[INFO] GraphLab Server Version: 1.6.1

PROGRESS: Finished parsing file C:\MyCode\grim_python_ml_coursera\people-example.csv
PROGRESS: Parsing completed. Parsed 7 lines in 0.019012 secs.
------------------------------------------------------
Inferred types from first line of file as
column_type_hints=[str,str,str,long]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------
PROGRESS: Finished parsing file C:\MyCode\grim_python_ml_coursera\people-example.csv
PROGRESS: Parsing completed. Parsed 7 lines in 0.01701 secs.

# SFrame basics

In [3]:
sf #we can view first few lines

First Name,Last Name,Country,age
Bob,Smith,United States,24
Alice,Williams,Canada,23
Malcolm,Jone,England,22
Felix,Brown,USA,23
Alex,Cooper,Poland,23
Tod,Campbell,United States,22
Derek,Ward,Switzerland,25

In [4]:
sf.head()

First Name,Last Name,Country,age
Bob,Smith,United States,24
Alice,Williams,Canada,23
Malcolm,Jone,England,22
Felix,Brown,USA,23
Alex,Cooper,Poland,23
Tod,Campbell,United States,22
Derek,Ward,Switzerland,25

In [5]:
sf.tail()

First Name,Last Name,Country,age
Bob,Smith,United States,24
Alice,Williams,Canada,23
Malcolm,Jone,England,22
Felix,Brown,USA,23
Alex,Cooper,Poland,23
Tod,Campbell,United States,22
Derek,Ward,Switzerland,25

# GraphLab canvas

In [6]:
#take any data structure in GraphLab-Create

In [7]:
sf.show()

Canvas is accessible via web browser at the URL: http://localhost:4532/index.html
Opening Canvas in default web browser.

In [8]:
graphlab.canvas.set_target('ipynb')

In [9]:
sf.show()

In [11]:
sf['age'].show(view='Categorical')

# Inspect columns of dataset

In [12]:
sf['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [13]:
sf['age']

dtype: int
Rows: 7
[24L, 23L, 22L, 23L, 23L, 22L, 25L]

In [14]:
sf['age'].mean()

23.142857142857146

In [15]:
sf['age'].std()

0.9897433186107858

In [17]:
print 'Max: ', sf['age'].max()

Max:  25

# Create new columns in our SFrame

In [18]:
sf['Full Name'] = sf['First Name'] + ' ' + sf['Last Name']

In [19]:
sf

First Name,Last Name,Country,age,Full Name
Bob,Smith,United States,24,Bob Smith
Alice,Williams,Canada,23,Alice Williams
Malcolm,Jone,England,22,Malcolm Jone
Felix,Brown,USA,23,Felix Brown
Alex,Cooper,Poland,23,Alex Cooper
Tod,Campbell,United States,22,Tod Campbell
Derek,Ward,Switzerland,25,Derek Ward

In [21]:
(sf['age'] * sf['age']).mean()

536.5714285714286

In [22]:
sf['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [24]:
sf['Country'].show()

In [26]:
def transform_country(country):
    if country == 'USA':
        return 'United States'
    else:
        return country

In [28]:
transform_country('USA')

'United States'

In [29]:
transform_country('Brazil')

'Brazil'

In [30]:
sf['Country'].apply(transform_country)

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'United States', 'Poland', 'United States', 'Switzerland']

In [32]:
sf['Country'] = sf['Country'].apply(transform_country)

In [33]:
sf

First Name,Last Name,Country,age,Full Name
Bob,Smith,United States,24,Bob Smith
Alice,Williams,Canada,23,Alice Williams
Malcolm,Jone,England,22,Malcolm Jone
Felix,Brown,United States,23,Felix Brown
Alex,Cooper,Poland,23,Alex Cooper
Tod,Campbell,United States,22,Tod Campbell
Derek,Ward,Switzerland,25,Derek Ward